# Node
node_modules/
frontend/dist/
frontend/node_modules/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env
.venv/
backend/venv/
backend/__pycache__/
backend/models/*.pkl

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
